header
{

  height: 130px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  margin:0 ;
  border-bottom:1px solid orange;
  background-color: #ffffff;
  z-index:999;
   .hdr
   {
     text-align: center;
     vertical-align:middle;
   }
  nav
  {

    ul
    {
      list-style-type: none;
      display:block;
      float:left;
    }
    li
    {
      display: inline-block;
      list-style: none;
      float:left;
      padding:20px 3px;
      line-height:4;

    }
    li a
    {
      text-decoration: none;
      color:@color;
      font-size: @font-size*1.2;
      .btn;
    }
    li:hover
    {

    }
  }

  .logo
  {
    font-weight:bold;
    font-family:@font-logo;
    overflow: hidden;
    color:orange;


    text-align: center;
    line-height: 1;

    float:left;
    padding:20px 3px;
    font-size:@font-size*4;

  }

  .rightphone
  {
    padding:5px 0px 5px 150px;
    overflow: hidden;

    font-family:@font-phone;
    font-size:@font-size*1.2;
  }
  .rightphone a{
    color: #faffff;
    text-decoration:underline;
  }
  .rightphone:before {
    content: "";
    position: absolute;
    width: 160%;
    height: 250%;
    top: 0;
    left: -110px;
    z-index: -1;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%);
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
    transform: rotate(130deg);
  }
}