@media (max-width:@device-midi)
{
	header
	{
		position:fixed;
		height: 250px;
		min-height:250px;
	    line-height: 24px;
	    font-size: @font-size;
	    margin:0 0 10px 0;
    	.nav 
		{
			li
			{
				display: list-item;
				list-style: none;
				float:left; 
				padding:4px;
				width:45%;
				margin:2px;
				background-color:@success-color;
				
			}
			li a
			{
				text-decoration: none;
				color:white;
			}
		}			
	}

	.logo
	{
		width:100%;
		font-size:@font-size;
		border:0;
		color:@font-color;
		border-radius:0;
		background-color:transparent;
		float:none;
		text-align:center;
		max-width:100%;

	}
	
	.content
	{
		width:100%;
	} 

}