@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.btn {
  padding: 10px 5px;
}
.btn-success {
  background-color: #119911;
  color: #29e729;
}
.transition {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
}
header {
  min-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 ;
  background-color: #767676;
  z-index: 999;
}
header .hdr {
  text-align: center;
  vertical-align: middle;
}
header nav {
  line-height: 5;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header nav li {
  display: inline-block;
  list-style: none;
}
header nav li a {
  text-decoration: none;
  color: #CCC;
  font-size: 19.2px;
  padding: 10px 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
}
header nav li a:hover {
  color: #555;
}
header .main-menu {
  text-align: center;
}
header .logo {
  font-weight: bold;
  font-family: 'Audiowide', Arial, Verdana;
  overflow: hidden;
  color: #646464;
  line-height: 2;
  text-align: center;
  float: left;
  font-size: 48px;
}
header .phones {
  text-align: right;
  font-size: em(20px);
}
header .callback {
  color: #8c8c8c;
  text-decoration: none;
  border-bottom: 1px dashed #8c8c8c;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
}
header .callback:hover {
  border-color: transparent;
  text-decoration: none;
  color: #333;
}
header .rightphone {
  padding: 5px 10px;
  overflow: hidden;
  font-family: 'Cuprum';
  color: whitesmoke;
}
